---
import MainLayout from '../layouts/MainLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(
    import.meta.glob('./posts/*.md', { eager: true }),
);
const pageTitle = 'Blog';
---

<MainLayout pageTitle={pageTitle}>
    <p></p>
    <ul>
        {
            allPosts.map((post: any) => (
                <BlogPost url={post.url} title={post.frontmatter.title} />
            ))
        }
    </ul>
</MainLayout>
