---
import ServiceCard from '../components/ServiceCard.astro';
import Mainlayout from '../layouts/MainLayout.astro';
---

<Mainlayout>
	<div>
		<h1 class="text-4xl font-bold text-red-600">Plombier Annemasse</h1>
		<h2 class="text-2xl text-blue-500">
			Votre artisan Plombier chauffagiste en Haute-Savoie
		</h2>
		<h2 class="text-2xl text-blue-300">
			Intervention 24/24h 7/7 sans Rendez Vous.
		</h2>
		<div>
			<ul class="list-disc list-inside space-y-2">
				<li>AGRÉE ASSURANCES</li>
				<li>DEVIS GRATUIT</li>
				<li>QUALITÉ / PRIX GARANTIE</li>
				<li>PERSONNEL QUALIFIÉ</li>
			</ul>
		</div>
	</div>
	<ServiceCard />
</Mainlayout>
