---
import './src/styles/global.css';
---

<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div class="flex space-x-4">
            <h1
                class="flex-1 text-5xl font-bold bg-red-500 text-white border-[5px] border-black mt-4 p-10"
            >
                Hello world!
            </h1>

            <h1
                class="flex-1 text-5xl font-bold bg-red-500 text-white border-[5px] border-black mt-4 p-10"
            >
                Joud
            </h1>
        </div>
        <h1
            class="flex-1 text-5xl font-bold bg-red-500 text-white border-[5px] border-black mt-4 p-10"
        >
            Sabrine
        </h1>
    </body>
</html>
