---
import { Image } from 'astro:assets';
import footerImg from '../images/footerimg.jpg';
---

<footer class="w-full">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <!--Grid-->
        <div
            class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-3 gap-3 md:gap-8 py-10 max-sm:max-w-sm max-sm:mx-auto gap-y-8"
        >
            <div>
                <h2>image</h2>
            </div>
            <div>
                <h2>conatct</h2>
            </div>
            <div>
                <h2>formulaire</h2>
            </div>
        </div>
    </div>
</footer>
