<div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
>
    <div
        class="max-w-md mx-auto mt-10 bg-gray-100 flex justify-center place-items-stretch"
    >
        <!-- Card -->
        <div
            class="w-60 p-2 bg-white rounded-xl transform transition-all hover:-translate-y-2 duration-300 shadow-[4px_4px_10px_rgba(0,0,0,0.1),-4px_-4px_10px_rgba(0,0,0,0.1)] hover:shadow-[6px_6px_12px_rgba(0,0,0,0.20),-6px_-6px_12px_rgba(0,0,0,0.20)]"
        >
            <div class="p-2">
                <!-- Heading -->
                <h2 class="font-bold text-lg mb-2">Plomberie commerciale</h2>
                <!-- Description -->
                <p class="text-sm text-gray-600">
                    Installation et entretien du système de plomberie dans les
                    bâtiments commerciaux. Cela comprend l’approvisionnement en
                    eau, le drainage, le gaz et votre système de chauffage (eau
                    chaude, cumulus, ballon d’eau chaude, adoucisseur d’eau,
                    etc).
                </p>
            </div>
            <!-- CTA -->
            <!-- Image -->

            <img
                class="place-self-center h-15 object-cover rounded-xl"
                src="https://lemanenergie.fr/wp-content/uploads/2022/10/icone-plombier-annemasse-sept.png"
                alt=""
            />
        </div>
    </div>

    <div class="max-w-md mx-auto mt-10 bg-gray-100">
        <!-- Card -->
        <div
            class="w-60 p-2 bg-white rounded-xl transform transition-all hover:-translate-y-2 duration-300 shadow-[4px_4px_10px_rgba(0,0,0,0.1),-4px_-4px_10px_rgba(0,0,0,0.1)] hover:shadow-[6px_6px_12px_rgba(0,0,0,0.20),-6px_-6px_12px_rgba(0,0,0,0.20)]"
        >
            <div class="p-2">
                <!-- Heading -->
                <h2 class="font-bold text-lg mb-2">
                    Installation de baignoire
                </h2>
                <!-- Description -->
                <p class="text-sm text-gray-600">
                    Notre service d’installation de baignoire est de qualité.
                    Nous ferons en sorte que votre nouvelle baignoire soit
                    opérationnelle en peu de temps. Nous nous occupons de
                    l’installation à l’évacuation. Appelez-nous dès aujourd’hui
                    si vous souhaitez remplacer votre baignoire par une douche
                    ou tout simplement en installer une tout simplement.
                </p>
            </div>
            <!-- CTA -->

            <!-- Image -->
            <img
                class="h-15 object-cover rounded-xl"
                src="https://lemanenergie.fr/wp-content/uploads/2022/10/icone-plombier-annemasse-six.png"
                alt=""
            />
        </div>
    </div>

    <div class="max-w-md mx-auto mt-10 bg-gray-100">
        <!-- Card -->
        <div
            class="w-60 p-2 bg-white rounded-xl transform transition-all hover:-translate-y-2 duration-300 shadow-[4px_4px_10px_rgba(0,0,0,0.1),-4px_-4px_10px_rgba(0,0,0,0.1)] hover:shadow-[6px_6px_12px_rgba(0,0,0,0.20),-6px_-6px_12px_rgba(0,0,0,0.20)]"
        >
            <div class="p-2">
                <!-- Heading -->
                <h2 class="font-bold text-lg mb-2">
                    Maintenance de canalisation
                </h2>
                <!-- Description -->
                <p class="text-sm text-gray-600">
                    L’entretien de la tuyauterie est un élément important pour
                    maintenir votre système de plomberie en bon état de
                    fonctionnement. Nos plombiers peuvent vous aider dans tous
                    les aspects de l’entretien des tuyaux, de la réparation et
                    du remplacement au nettoyage et à l’inspection.
                </p>
            </div>
            <!-- CTA -->
            <div class="m-2">
                <a
                    role="button"
                    href="#"
                    class="text-white bg-purple-600 px-3 py-1 rounded-md hover:bg-purple-700"
                    >Voir le service</a
                >
            </div>
            <!-- Image -->
            <img
                class="h-15 object-cover rounded-xl"
                src="https://lemanenergie.fr/wp-content/uploads/2022/10/icone-plombier-annemasse-deux.png"
                alt=""
            />
        </div>
    </div>

    <div class="max-w-md mx-auto mt-10 bg-gray-100">
        <!-- Card -->
        <div
            class="w-60 p-2 bg-white rounded-xl transform transition-all hover:-translate-y-2 duration-300 shadow-[4px_4px_10px_rgba(0,0,0,0.1),-4px_-4px_10px_rgba(0,0,0,0.1)] hover:shadow-[6px_6px_12px_rgba(0,0,0,0.20),-6px_-6px_12px_rgba(0,0,0,0.20)]"
        >
            <div class="p-2">
                <!-- Heading -->
                <h2 class="font-bold text-lg mb-2">Recherche de fuite</h2>
                <!-- Description -->
                <p class="text-sm text-gray-600">
                    Nos services de plomberie comprennent la détection et la
                    réparation des fuites. Nous utilisons les dernières
                    technologies pour localiser et réparer les fuites rapidement
                    et efficacement. Nos plombiers expérimentés sont disponibles
                    24 heures sur 24, 7 jours sur 7, pour répondre à tous vos
                    besoins en matière de dépannage plomberie.
                </p>
            </div>
            <!-- CTA -->
            <div class="m-2">
                <a
                    role="button"
                    href="#"
                    class="text-white bg-blue-600 px-3 py-1 rounded-md hover:bg-blue-700"
                    >Voir le service</a
                >
            </div>
            <!-- Image -->
            <img
                class="h-15 object-cover rounded-xl"
                src="https://lemanenergie.fr/wp-content/uploads/2022/10/icone-plombier-annemasse-trois.png"
                alt=""
            />
        </div>
    </div>

    <div class="max-w-md mx-auto mt-10 bg-gray-100">
        <!-- Card -->
        <div
            class="w-60 p-2 bg-white rounded-xl transform transition-all hover:-translate-y-2 duration-300 shadow-[4px_4px_10px_rgba(0,0,0,0.1),-4px_-4px_10px_rgba(0,0,0,0.1)] hover:shadow-[6px_6px_12px_rgba(0,0,0,0.20),-6px_-6px_12px_rgba(0,0,0,0.20)]"
        >
            <div class="p-2">
                <!-- Heading -->
                <h2 class="font-bold text-lg mb-2">Service rapide et fiable</h2>
                <!-- Description -->
                <p class="text-sm text-gray-600">
                    Nous travaillerons rapidement pour remettre votre système de
                    plomberie en marche afin que vous puissiez reprendre votre
                    rythme quotidien. Une canalisation bouchée ? Un besoin de
                    désembuage de radiateur ? Un problème de chasse d’eau ?
                    Contactez nous, nous intervenons sur toute la Haute-Savoie
                    de jour comme de nuit.
                </p>
            </div>
        </div>
    </div>

    <div class="max-w-md mx-auto mt-10 bg-gray-100">
        <!-- Card -->
        <div
            class="w-60 p-2 bg-white rounded-xl transform transition-all hover:-translate-y-2 duration-300 shadow-[4px_4px_10px_rgba(0,0,0,0.1),-4px_-4px_10px_rgba(0,0,0,0.1)] hover:shadow-[6px_6px_12px_rgba(0,0,0,0.20),-6px_-6px_12px_rgba(0,0,0,0.20)]"
        >
            <div class="p-2">
                <!-- Heading -->
                <h2 class="font-bold text-lg mb-2">Salle De Bains</h2>
                <!-- Description -->
                <p class="text-sm text-gray-600">
                    Nous offrons des services de qualité pour transformer votre
                    salle de bain en un espace de détente et de bien-être. Nous
                    vous aidons à concevoir la salle de bain de vos rêves, en
                    tenant compte de vos besoins et de votre budget. Nous
                    utilisons des produits de qualité pour assurer une longue
                    durée de vie à votre nouvelle salle de bain. Envie d’une
                    belle douche italienne ?
                </p>
            </div>
            <!-- Image -->
            <img
                class="h-15 object-cover rounded-xl"
                src="https://lemanenergie.fr/wp-content/uploads/2022/10/icone-plombier-annemasse-quatre.png"
                alt=""
            />
        </div>
    </div>

    <div class="max-w-md mx-auto mt-10 bg-gray-100">
        <!-- Card -->
        <div
            class="w-60 p-2 bg-white rounded-xl transform transition-all hover:-translate-y-2 duration-300 shadow-[4px_4px_10px_rgba(0,0,0,0.1),-4px_-4px_10px_rgba(0,0,0,0.1)] hover:shadow-[6px_6px_12px_rgba(0,0,0,0.20),-6px_-6px_12px_rgba(0,0,0,0.20)]"
        >
            <div class="p-2">
                <!-- Heading -->
                <h2 class="font-bold text-lg mb-2">Installation de WC</h2>
                <!-- Description -->
                <p class="text-sm text-gray-600">
                    Nous proposons également nos services d’installation de
                    toilettes. Nous nous engageons à fournir à nos clients des
                    produits et des services de la plus haute qualité qui soit.
                    Nous sommes fiers d’offrir à nos clients une grande variété
                    d’options de plomberie et d’installation de toilettes. Nous
                    sommes convaincus que nous pouvons répondre à vos besoins et
                    dépasser vos attentes.
                </p>
            </div>
            <!-- Image -->
            <img
                class="h-15 object-cover rounded-xl"
                src="https://lemanenergie.fr/wp-content/uploads/2022/10/icone-plombier-annemasse-cinq.png"
                alt=""
            />
        </div>
    </div>
</div>
